@model MvcApplication1.Models.Reception

@{
    ViewBag.Title = "Create";
}

<h2>Создание нового события</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Reception</legend>

        <div class="editor-label">
          Название события
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NameReception)
            @Html.ValidationMessageFor(model => model.NameReception)
        </div>

        <div class="editor-label">
            Дата
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataReception)
            @Html.ValidationMessageFor(model => model.DataReception)
        </div>

        <div class="editor-label">
         Описание
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AboutReception)
            @Html.ValidationMessageFor(model => model.AboutReception)
        </div>

        <div class="editor-label">
           Время
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TimeReception)
            @Html.ValidationMessageFor(model => model.TimeReception)
        </div>
        <table>
            <tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.Books)

                    @Html.EditorFor(model => model.Books)
                    @Html.ValidationMessageFor(model => model.Books)
                </td>

                <td class="editor-label">
                    @Html.LabelFor(model => model.Movies)
 
                    @Html.EditorFor(model => model.Movies)
                    @Html.ValidationMessageFor(model => model.Movies)
                </td>

                <td class="editor-label">
                    @Html.LabelFor(model => model.Travelling)

                    @Html.EditorFor(model => model.Travelling)
                    @Html.ValidationMessageFor(model => model.Travelling)
                </td>

                <td class="editor-label">
                    @Html.LabelFor(model => model.Dancing)

                    @Html.EditorFor(model => model.Dancing)
                    @Html.ValidationMessageFor(model => model.Dancing)
                </td>

                <td class="editor-label">
                    @Html.LabelFor(model => model.Cycling)

                    @Html.EditorFor(model => model.Cycling)
                    @Html.ValidationMessageFor(model => model.Cycling)
                </td>

                <td class="editor-label">
                    @Html.LabelFor(model => model.Skiing)

                    @Html.EditorFor(model => model.Skiing)
                    @Html.ValidationMessageFor(model => model.Skiing)
                </td>
            </tr>
        </table>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
