@model MvcApplication1.Models.RegisterModel
@{
    ViewBag.Title = "Регистрация";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Создание новой учетной записи.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Форма регистрации</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
             <li>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
            </li>
             <li>
                @Html.LabelFor(m => m.Age)
                @Html.TextBoxFor(m => m.Age)
            </li>
            <h4>Отметьте галочкой свои интересы.</h4> <br />
            <li>
                <table>
                    <tr>
                        <td>  @Html.LabelFor(m => m.Books)
                            @Html.CheckBoxFor(m => m.Books) </td>

                        <td> @Html.LabelFor(m => m.Movies)
                            @Html.CheckBoxFor(m => m.Movies) </td>

                        <td> @Html.LabelFor(m => m.Travelling)
                            @Html.CheckBoxFor(m => m.Travelling) </td> 

                        <td> @Html.LabelFor(m => m.Dancing)
                            @Html.CheckBoxFor(m => m.Dancing) </td> 

                        <td> @Html.LabelFor(m => m.Fashion)
                            @Html.CheckBoxFor(m => m.Fashion) </td> 

                        <td> @Html.LabelFor(m => m.Cycling)
                            @Html.CheckBoxFor(m => m.Cycling) </td> 

                        <td> @Html.LabelFor(m => m.Skiing)
                            @Html.CheckBoxFor(m => m.Skiing) </td> 
                    </tr> 
                </table>
            </li>
             <li>
                @Html.LabelFor(m => m.AboutMe)
                @Html.TextAreaFor(m => m.AboutMe)
            </li>
         </ol>
        <input type="submit" value="Регистрация" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
